<div class = "row template">
    <div class = "col-md-1">
        <img src="assets/images/hotel.png" class="picture">
    </div>
    <div class = "col-md-3">
        <div class = "name"><%= hotel.name%></div>
        <div><%= hotel.address.streetAddress%></div>
    </div>
    <div class = "col-md-3">
        <div><%= hotel.starRating%></div>
        <div>зірок</div>
    </div>
    <div class = "col-md-3">
        <div class = "price"><%= hotel.ratePlan.price.current.split(' ')[0]%></div>
        <div>грн/ніч</div>
    </div>

    <div class = "col-md-2 chooseHotel">
        <button class='btn btn-primary hotelbtn'>обрати</button>
    </div>

</div>