<div class = "row">
    <div class = "col-md-1">
        <img src="assets/images/hotel.png" class="picture">
    </div>
    <div class = "col-md-3">
        <div><%= hotel.name%></div>
        <div><%= hotel.address.streetAddress%></div>
    </div>
    <div class = "col-md-3">
        <div><%= hotel.starRating%></div>
        <div>зірок</div>
    </div>
    <div class = "col-md-3">
        <div><%= hotel.ratePlan.price.current%></div>
        <div>грн</div>
    </div>
    <div class = "col-md-2">
        <button>обрати</button>
    </div>

</div>